@model MoneyManagerUI.ViewModel.RecordViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add a Record of "@ViewBag.CategoryName"</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">₴</span>
                </div>
                <input asp-for="Sum" class="form-control" aria-label="Amount (to the nearest hryvna)" step="1" min="0" />
                <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                </div>
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>

            <input type="hidden" value="@ViewBag.CategoryId" name="CategoryId" />

            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <a class="float-right" asp-action="AddSubcat" asp-controller="Categories" asp-route-id="@ViewBag.CategoryId">Add a new one</a>
                <select asp-for="SubcategoryId" class="form-control" asp-items="@ViewBag.Subcategories"></select>
            </div>

            <div class="alert alert-warning" role="alert">
                hold CTRL to select multiple tags
            </div>
            @Html.ListBoxFor(model => model.TagIds, Model.Tags, new { size = 6 })


            @*For tag list*@
            @*<div class="form-group">
                    <label asp-for="Tags" class="control-label">Tags</label>
                    <select asp-for="Tags" asp-items="ViewBag.Tags" class="form-control" multiple="multiple"></select>
                </div>*@


            @*doesn't show up*@
            <asp:ListBox ID="lblMultiSelect" runat="server">
                <asp:ListItem Text="opt1" Value="opt1" />
                <asp:ListItem Text="opt2" Value="opt2" />
                <asp:ListItem Text="opt3" Value="opt3" />
            </asp:ListBox>

            <asp:ListBox runat="server" SelectionMode="Multiple">
                <asp:ListItem Text="test1"></asp:ListItem>
                <asp:ListItem Text="test2"></asp:ListItem>
                <asp:ListItem Text="test3"></asp:ListItem>
            </asp:ListBox>

            @*doesn't accept the lambda function*@
            @*@Html.ListBoxFor(x => x.Id, ViewBag.Tags, new { style = "width:200px" })

                @Html.DropDownListFor(x => x.Id, ViewBag.Tags);*@

            @*<div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
