@model IEnumerable<MoneyManagerUI.Categories>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("premiumUser"))
{
    <form asp-controller="Records" asp-action="IndexByTag" class="form-group">
        <div class="col-sm-3 float-right brd">
            <select name="tag" class="form-control float-right" asp-items="ViewBag.Tags"></select>
            <input type="submit" value="Search" class="btn btn-primary float-right" />
            <a asp-controller="Tags" asp-action="Index" class="float-left" style="font-size:25px;">Tags</a>
        </div>
    </form>
    <br />
    <br />
    <br />
}


<h1>Select Category</h1>
<div class="col-sm-3 float-right">
    <button id="statsButton"
            class="btn btn-secondary btn-lg float-right"
            onclick="showHide()">
        Show Statistics
    </button>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<br />

<script>
    function showHide() {
        var catChart = document.getElementById("catChart");
        var dateChart = document.getElementById("dateChart");
        var button = document.getElementById("statsButton")

        if (catChart.style.display === "none") {
            catChart.style.display = "block";
            dateChart.style.display = "block";
            button.textContent = "Hide Statistics";
        } else {
            button.textContent = "Show Statistics";
            catChart.style.display = "none";
            dateChart.style.display = "none";
        }
    }
</script>

<div class="container">
    <div class="chartBrd" id="catChart">
    </div>
</div>

<div class="container">
    <div class="chartBrd" id="dateChart"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonDataCatSum', function (jsonData) {
                var data = google.visualization.arrayToDataTable(jsonData, false);

                var options = {
                    title: "Spendings per category",
                    height: 300
                };

                var chart = new google.visualization.PieChart(document.getElementById('catChart'));
                chart.draw(data, options);
                document.getElementById("catChart").style.display = "none";
            })
        }
    </script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Charts/JsonDataDateSum', function (jsonData) {
                var data = google.visualization.arrayToDataTable(jsonData, false);

                var options = {
                    title: "Spendings per day",
                };

                var chart = new google.visualization.LineChart(document.getElementById('dateChart'));
                chart.draw(data, options);
                document.getElementById("dateChart").style.display = "none";
            })
        }
    </script>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" style="font-size:17px;">@item.Name</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Records" asp-action="Create" asp-route-id="@item.Id">Add Record</a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="AddSubcat" asp-route-id="@item.Id">Add Subcategory</a>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a class="btn btn-sm btn-outline-danger float-right" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("premiumUser"))
{
    <div>
        @using (Html.BeginForm("Import", "Categories", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
        {
            <div>
                <input type="file" name="fileExcel" id="fileExcel" />
                <div>
                    <input type="submit" value="Upload data" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
}
